body{
  margin: 0;
}

.top-pane{
  background-color: hsl(225, 6%, 25%);

}

.pane{
  height: 50vh;
  display: flex;
  
}

.bottom-pane{
  margin-top: -420px;

}
.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  padding: .5rem; 
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn{
  margin-left: .5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.editor-title{
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  z-index: 99;
  /* overflow: hidden; */
  color: white;
  margin-top: 0;
  padding: .5rem .5rem .5rem .5rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.CodeMirror{
  height: 50% !important;
}

.code-mirror-wrapper{
  margin-top: -350px;
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

